.hero{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background: color #f4f4f4;
    text-align:center;
}

.hero-content{
    display:flex;
    gap:20px;
    flex-direction:column;
}

.hero-content h1{
    font-size:3rem;
    margin:0;
}

.hero-content p{
    font-size:1.2rem;
    color:#666;
    margin:0;
}

.cta-button{
    padding:12px 24px;
    font-size:1rem;
    background-color:#007bff;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    align-self:center;
}

.cta-button:hover {
  background-color: #0056b3; /* Darker blue */
}