.navbar{
    background-color:#333;
    color:white;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:20px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px; /* Space between logo and links */
}

.nav-links{
    display:flex;
    flex-direction:column;
    gap:15px;
    text-align:center;
    list-style-type:none;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-size:1.1rem;
    
}

.nav-links a:hover{
    color:#007bff;
}

@media (min-width:768px){
    .navbar{
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        padding:0 20px;
        height:60px;
    }
    .logo{
        margin-bottom:0px;
    }
    .nav-links{
        flex-direction:row;
        text-align:left;
    }
}