.projects-container {
    padding: 60px 20px;
    background-color: white;
}

.section-title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2rem;
    color: #666;
}

.projects-grid {
  display: grid;
  /* Default (Mobile): 1 Column */
  grid-template-columns: 1fr; 
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

}

.card:hover{
    transform:translateY(-5px);
}

.card h3{
    margin-top:0;
    color: #007bff;
}

.tech-stack{
    margin:10px 0;
    color:#666;
    font-size:0.9rem;
}

.card button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.card button:hover {
  background-color: #555;
}

.card-img{
    width:100%;
    height:180px;
    object-fit:cover;
    border-radius:8px;
    margin-bottom:15px;
}


@media (min-width:768px){
    .projects-grid{
       
        grid-template-columns: repeat(3,1fr);
        
    }
}